In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import env
import wrangle

In [3]:
df = wrangle.get_zillow_data()

In [4]:
df.head()

,id,propertylandusetypeid,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,propertylandusedesc,parcelid,logerror,transactiondate
0,0,269.0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,2016.0,9.0,NaN,None,NaN,NaN,Planned Unit Development,14297519,0.025595,2017-01-01
1,1,261.0,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,2015.0,27516.0,NaN,None,NaN,NaN,Single Family Residential,17052889,0.055619,2017-01-01
2,2,47.0,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,...,2016.0,774261.0,20800.37,None,NaN,NaN,Store/Office (Mixed Use),14186244,0.005383,2017-01-01
3,3,47.0,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,...,2016.0,594416.0,14557.57,None,NaN,NaN,Store/Office (Mixed Use),12177905,-0.103410,2017-01-01
4,4,31.0,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,...,2016.0,243350.0,5725.17,None,NaN,NaN,Commercial/Office/Residential Mixed Used,10887214,0.006940,2017-01-01

In [5]:
df.shape

(77613, 63)

In [8]:
df.nunique()

id                              77613
propertylandusetypeid              15
parcelid                        77613
airconditioningtypeid               6
architecturalstyletypeid            4
basementsqft                       44
bathroomcnt                        26
bedroomcnt                         16
buildingclasstypeid                 5
buildingqualitytypeid              12
calculatedbathnbr                  25
decktypeid                          1
finishedfloor1squarefeet         1756
calculatedfinishedsquarefeet     5110
finishedsquarefeet12             4805
finishedsquarefeet13               65
finishedsquarefeet15             2392
finishedsquarefeet50             1771
finishedsquarefeet6               489
fips                                3
fireplacecnt                        7
fullbathcnt                        16
garagecarcnt                       14
garagetotalsqft                   840
hashottuborspa                      1
heatingorsystemtypeid              10
latitude                        67892
longitude                       66630
lotsizesquarefeet               18935
poolcnt                             1
poolsizesum                       241
pooltypeid10                        1
pooltypeid2                         1
pooltypeid7                         1
propertycountylandusecode         105
propertyzoningdesc               2039
rawcensustractandblock          47516
regionidcity                      177
regionidcounty                      3
regionidneighborhood              494
regionidzip                       387
roomcnt                            21
storytypeid                         1
threequarterbathnbr                 4
typeconstructiontypeid              2
unitcnt                            29
yardbuildingsqft17                557
yardbuildingsqft26                 54
yearbuilt                         136
numberofstories                     4
fireplaceflag                       1
structuretaxvaluedollarcnt      51974
taxvaluedollarcnt               55830
assessmentyear                      4
landtaxvaluedollarcnt           50622
taxamount                       73420
taxdelinquencyflag                  1
taxdelinquencyyear                 10
censustractandblock             46872
propertylandusedesc                15
parcelid                        77414
logerror                        77064
transactiondate                   264
dtype: int64