In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import env
import wrangle
import acquire
import prepare

In [2]:
df = pd.read_csv('zillow.csv')

In [3]:
df.shape

(77579, 69)

In [4]:
df['isdupe'] = df.duplicated(subset=['parcelid'])

In [5]:
df.head()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc,isdupe
0,14297519,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1727539,NaN,...,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN,False
1,17052889,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1387261,NaN,...,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN,False
2,14186244,NaN,NaN,261.0,NaN,NaN,NaN,NaN,11677,NaN,...,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN,False
3,12177905,NaN,NaN,261.0,2.0,NaN,NaN,NaN,2288172,NaN,...,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,False
4,10887214,NaN,NaN,266.0,2.0,NaN,NaN,1.0,1970746,NaN,...,0.006940,2017-01-01,Central,NaN,NaN,Central,Condominium,NaN,NaN,False

In [6]:
df_nodupe = df[df.isdupe == False]

In [7]:
df_nodupe.shape

(77381, 70)

In [8]:
df_nodupe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77381 entries, 0 to 77578
Data columns (total 70 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77381 non-null  int64
 1   typeconstructiontypeid        222 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77381 non-null  float64
 4   heatingorsystemtypeid         49440 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      206 non-null    float64
 7   airconditioningtypeid         24953 non-null  float64
 8   id                            77381 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77381 non-null  float64
 11  bedroomcnt                    77381 non-null  float64
 12  buildingqualitytypeid         49672 non-null  float64
 13  calculatedbathnbr             76772 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6023 non-null   float64
 16  calculatedfinishedsquarefeet  77185 non-null  float64
 17  finishedsquarefeet12          73749 non-null  float64
 18  finishedsquarefeet13          41 non-null     float64
 19  finishedsquarefeet15          3009 non-null   float64
 20  finishedsquarefeet50          6023 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77381 non-null  float64
 23  fireplacecnt                  8276 non-null   float64
 24  fullbathcnt                   76772 non-null  float64
 25  garagecarcnt                  25474 non-null  float64
 26  garagetotalsqft               25474 non-null  float64
 27  hashottuborspa                1538 non-null   float64
 28  latitude                      77381 non-null  float64
 29  longitude                     77381 non-null  float64
 30  lotsizesquarefeet             69142 non-null  float64
 31  poolcnt                       16137 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  464 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15042 non-null  float64
 36  propertycountylandusecode     77381 non-null  object
 37  propertyzoningdesc            50331 non-null  object
 38  rawcensustractandblock        77381 non-null  float64
 39  regionidcity                  75910 non-null  float64
 40  regionidcounty                77381 non-null  float64
 41  regionidneighborhood          30890 non-null  float64
 42  regionidzip                   77331 non-null  float64
 43  roomcnt                       77381 non-null  float64
 44  threequarterbathnbr           10096 non-null  float64
 45  unitcnt                       50563 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77118 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77269 non-null  float64
 52  taxvaluedollarcnt             77380 non-null  float64
 53  assessmentyear                77381 non-null  float64
 54  landtaxvaluedollarcnt         77379 non-null  float64
 55  taxamount                     77376 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77137 non-null  float64
 59  id.1                          77381 non-null  int64
 60  logerror                      77381 non-null  float64
 61  transactiondate               77381 non-null  object
 62  airconditioningdesc           24953 non-null  object
 63  architecturalstyledesc        206 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49440 non-null  object
 66  propertylandusedesc           77381 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          222 non-null    object
 69  isdupe                        77381 non-null  bool
dtypes: bool(1), float64(55), int64(3), object(11)
memory usage: 41.4+ MB

In [9]:
df_nodupe.describe().T

,count,mean,std,min,25%,50%,75%,max
parcelid,77381.0,1.300715e+07,3.481346e+06,1.071186e+07,1.153830e+07,1.253157e+07,1.421183e+07,1.676893e+08
typeconstructiontypeid,222.0,6.040541e+00,5.572847e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,1.300000e+01
storytypeid,50.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
propertylandusetypeid,77381.0,2.618263e+02,5.141199e+00,3.100000e+01,2.610000e+02,2.610000e+02,2.660000e+02,2.750000e+02
heatingorsystemtypeid,49440.0,3.920510e+00,3.592779e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
buildingclasstypeid,15.0,3.933333e+00,2.581989e-01,3.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
architecturalstyletypeid,206.0,7.388350e+00,2.734542e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
airconditioningtypeid,24953.0,1.813289e+00,2.967894e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
id,77381.0,1.495139e+06,8.609071e+05,3.490000e+02,7.520700e+05,1.497932e+06,2.240535e+06,2.982274e+06
basementsqft,50.0,6.797200e+02,6.897035e+02,3.800000e+01,2.730000e+02,5.150000e+02,7.965000e+02,3.560000e+03
bathroomcnt,77381.0,2.299130e+00,9.966507e-01,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,77381.0,3.053489e+00,1.139096e+00,0.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,1.600000e+01
buildingqualitytypeid,49672.0,6.534587e+00,1.721953e+00,1.000000e+00,6.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,76772.0,2.316867e+00,9.797549e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,614.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,6023.0,1.366513e+03,6.713081e+02,4.400000e+01,9.550000e+02,1.257000e+03,1.615000e+03,6.912000e+03
calculatedfinishedsquarefeet,77185.0,1.785220e+03,9.540493e+02,1.280000e+02,1.182000e+03,1.543000e+03,2.113000e+03,3.564000e+04
finishedsquarefeet12,73749.0,1.760523e+03,9.340243e+02,1.280000e+02,1.172000e+03,1.523000e+03,2.076000e+03,2.192900e+04
finishedsquarefeet13,41.0,1.389854e+03,1.235317e+02,1.056000e+03,1.344000e+03,1.440000e+03,1.440000e+03,1.560000e+03
finishedsquarefeet15,3009.0,2.357792e+03,1.188775e+03,5.980000e+02,1.625000e+03,2.094000e+03,2.838000e+03,3.564000e+04
finishedsquarefeet50,6023.0,1.381772e+03,7.264689e+02,4.400000e+01,9.560000e+02,1.259000e+03,1.621500e+03,1.246700e+04
finishedsquarefeet6,386.0,2.082500e+03,1.240383e+03,3.800000e+02,9.937500e+02,1.812500e+03,3.053500e+03,5.598000e+03
fips,77381.0,6.048819e+03,2.074820e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,8276.0,1.191155e+00,4.910796e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,76772.0,2.250482e+00,9.665521e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,25474.0,1.815459e+00,5.883449e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.400000e+01
garagetotalsqft,25474.0,3.501120e+02,2.616816e+02,0.000000e+00,0.000000e+00,4.360000e+02,4.930000e+02,4.251000e+03
hashottuborspa,1538.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
latitude,77381.0,3.400837e+07,2.653888e+05,3.333953e+07,3.381457e+07,3.402200e+07,3.417439e+07,3.481877e+07
longitude,77381.0,-1.182036e+08,3.594826e+05,-1.194754e+08,-1.184153e+08,-1.181808e+08,-1.179284e+08,-1.175546e+08
lotsizesquarefeet,69142.0,2.996928e+04,1.233711e+05,2.360000e+02,5.700000e+03,7.206000e+03,1.183100e+04,6.971010e+06
poolcnt,16137.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,867.0,5.179170e+02,1.567160e+02,2.400000e+01,4.240000e+02,5.000000e+02,6.000000e+02,1.500000e+03
pooltypeid10,464.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,1074.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,15042.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
rawcensustractandblock,77381.0,6.049129e+07,2.059052e+05,6.037101e+07,6.037311e+07,6.037603e+07,6.059042e+07,6.111009e+07
regionidcity,75910.0,3.367124e+04,4.716982e+04,3.491000e+03,1.244700e+04,2.521800e+04,4.545700e+04,3.965560e+05
regionidcounty,77381.0,2.534158e+03,8.015934e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,30890.0,1.877349e+05,1.651188e+05,6.952000e+03,4.673600e+04,1.188490e+05,2.747650e+05,7.641670e+05
regionidzip,77331.0,9.658709e+04,3.798347e+03,9.598200e+04,9.619300e+04,9.638900e+04,9.698700e+04,3.996750e+05
roomcnt,77381.0,1.476952e+00,2.824386e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01
threequarterbathnbr,10096.0,1.009608e+00,1.186301e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
unitcnt,50563.0,1.110021e+00,1.171154e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.370000e+02
yardbuildingsqft17,2388.0,3.054112e+02,2.383928e+02,1.100000e+01,1.700000e+02,2.510000e+02,3.640000e+02,3.191000e+03
yardbuildingsqft26,70.0,2.163857e+02,1.901775e+02,1.200000e+01,6.150000e+01,1.645000e+02,3.105000e+02,8.680000e+02
yearbuilt,77118.0,1.968636e+03,2.378603e+01,1.824000e+03,1.953000e+03,1.970000e+03,1.987000e+03,2.016000e+03
numberofstories,17560.0,1.434738e+00,5.445687e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
fireplaceflag,172.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,77269.0,1.893145e+05,2.300874e+05,4.400000e+01,8.426500e+04,1.364990e+05,2.187870e+05,1.142179e+07
taxvaluedollarcnt,77380.0,4.901345e+05,6.534440e+05,1.000000e+03,2.070000e+05,3.589755e+05,5.690015e+05,4.906124e+07
assessmentyear,77381.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,77379.0,3.010954e+05,4.925960e+05,1.610000e+02,8.550400e+04,2.033720e+05,3.667965e+05,4.895220e+07
taxamount,77376.0,5.995532e+03,7.622844e+03,1.992000e+01,2.715632e+03,4.450695e+03,6.927790e+03,5.866393e+05
taxdelinquencyyear,2886.0,1.408732e+01,2.185663e+00,3.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,9.900000e+01
censustractandblock,77137.0,6.049673e+13,1.535242e+12,6.037101e+13,6.037311e+13,6.037603e+13,6.059042e+13,4.830301e+14
id.1,77381.0,3.884788e+04,2.240216e+04,0.000000e+00,1.946000e+04,3.886900e+04,5.825200e+04,7.761200e+04
logerror,77381.0,1.691045e-02,1.692468e-01,-4.655420e+00,-2.413800e-02,6.738287e-03,3.931030e-02,5.262999e+00

In [10]:
df_nodupe.isna()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc,isdupe
0,False,True,True,False,True,True,True,True,False,True,...,False,False,True,True,True,True,False,True,True,False
1,False,True,True,False,True,True,True,True,False,True,...,False,False,True,True,True,True,False,True,True,False
2,False,True,True,False,True,True,True,True,False,True,...,False,False,True,True,True,True,False,True,True,False
3,False,True,True,False,False,True,True,True,False,True,...,False,False,True,True,True,False,False,True,True,False
4,False,True,True,False,False,True,True,False,False,True,...,False,False,False,True,True,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77574,False,True,True,False,False,True,True,False,False,True,...,False,False,False,True,True,False,False,True,True,False
77575,False,True,True,False,False,True,True,True,False,True,...,False,False,True,True,True,False,False,True,True,False
77576,False,True,True,False,True,True,True,True,False,True,...,False,False,True,True,True,True,False,True,True,False
77577,False,True,True,False,False,True,True,False,False,True,...,False,False,False,True,True,False,False,True,True,False
77578,False,True,True,False,False,True,True,True,False,True,...,False,False,True,True,True,False,False,True,True,False

In [11]:
def na_stats(df):
    odf = pd.DataFrame({'features': list(df.columns)})
    num_na = []
    percent_na = []
    for col in df.columns:
        num_na.append(df[col].isna().sum())
    odf['num_na'] = num_na   
    for col in df.columns:
        percent_na.append((df[col].isna().sum()/len(df[col])))
    odf['percent_na'] = percent_na
        
    return odf

In [12]:
odf = na_stats(df_nodupe)

odf

                        features  num_na  percent_na
0                       parcelid       0    0.000000
1         typeconstructiontypeid   77159    0.997131
2                    storytypeid   77331    0.999354
3          propertylandusetypeid       0    0.000000
4          heatingorsystemtypeid   27941    0.361083
5            buildingclasstypeid   77366    0.999806
6       architecturalstyletypeid   77175    0.997338
7          airconditioningtypeid   52428    0.677531
8                             id       0    0.000000
9                   basementsqft   77331    0.999354
10                   bathroomcnt       0    0.000000
11                    bedroomcnt       0    0.000000
12         buildingqualitytypeid   27709    0.358085
13             calculatedbathnbr     609    0.007870
14                    decktypeid   76767    0.992065
15      finishedfloor1squarefeet   71358    0.922164
16  calculatedfinishedsquarefeet     196    0.002533
17          finishedsquarefeet12    3632    0.046937
18          finishedsquarefeet13   77340    0.999470
19          finishedsquarefeet15   74372    0.961114
20          finishedsquarefeet50   71358    0.922164
21           finishedsquarefeet6   76995    0.995012
22                          fips       0    0.000000
23                  fireplacecnt   69105    0.893049
24                   fullbathcnt     609    0.007870
25                  garagecarcnt   51907    0.670798
26               garagetotalsqft   51907    0.670798
27                hashottuborspa   75843    0.980124
28                      latitude       0    0.000000
29                     longitude       0    0.000000
30             lotsizesquarefeet    8239    0.106473
31                       poolcnt   61244    0.791460
32                   poolsizesum   76514    0.988796
33                  pooltypeid10   76917    0.994004
34                   pooltypeid2   76307    0.986121
35                   pooltypeid7   62339    0.805611
36     propertycountylandusecode       0    0.000000
37            propertyzoningdesc   27050    0.349569
38        rawcensustractandblock       0    0.000000
39                  regionidcity    1471    0.019010
40                regionidcounty       0    0.000000
41          regionidneighborhood   46491    0.600806
42                   regionidzip      50    0.000646
43                       roomcnt       0    0.000000
44           threequarterbathnbr   67285    0.869529
45                       unitcnt   26818    0.346571
46            yardbuildingsqft17   74993    0.969140
47            yardbuildingsqft26   77311    0.999095
48                     yearbuilt     263    0.003399
49               numberofstories   59821    0.773071
50                 fireplaceflag   77209    0.997777
51    structuretaxvaluedollarcnt     112    0.001447
52             taxvaluedollarcnt       1    0.000013
53                assessmentyear       0    0.000000
54         landtaxvaluedollarcnt       2    0.000026
55                     taxamount       5    0.000065
56            taxdelinquencyflag   74495    0.962704
57            taxdelinquencyyear   74495    0.962704
58           censustractandblock     244    0.003153
59                          id.1       0    0.000000
60                      logerror       0    0.000000
61               transactiondate       0    0.000000
62           airconditioningdesc   52428    0.677531
63        architecturalstyledesc   77175    0.997338
64             buildingclassdesc   77366    0.999806
65           heatingorsystemdesc   27941    0.361083
66           propertylandusedesc       0    0.000000
67                     storydesc   77331    0.999354
68          typeconstructiondesc   77159    0.997131
69                        isdupe       0    0.000000

In [13]:
df_nodupe.shape

(77381, 70)

In [14]:
def gap_killer(df):
    to_drop = []
    col_count = na_stats(df)
    for index, row in col_count.iterrows():
        if row['percent_na'] >= .60:
            to_drop.append(index)
        out_df = df.drop(df.columns[to_drop], axis = 1)
    null_row = out_df.isnull().sum(axis=1)
    out_df['nulls'] = null_row
    out_df = out_df[out_df['nulls'] < 9]
    
    return out_df

In [15]:
col_cull = gap_killer(df_nodupe)

In [16]:
col_cull.shape

(77185, 37)

In [17]:
col_cull.head(60)

,parcelid,propertylandusetypeid,heatingorsystemtypeid,id,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,...,landtaxvaluedollarcnt,taxamount,censustractandblock,id.1,logerror,transactiondate,heatingorsystemdesc,propertylandusedesc,isdupe,nulls
0,14297519,261.0,NaN,1727539,3.5,4.0,NaN,3.5,3100.0,3100.0,...,537569.0,11013.72,6.059063e+13,0,0.025595,2017-01-01,NaN,Single Family Residential,False,5
1,17052889,261.0,NaN,1387261,1.0,2.0,NaN,1.0,1465.0,1465.0,...,376000.0,5672.48,6.111001e+13,1,0.055619,2017-01-01,NaN,Single Family Residential,False,5
2,14186244,261.0,NaN,11677,2.0,3.0,NaN,2.0,1243.0,1243.0,...,479489.0,6488.30,6.059022e+13,2,0.005383,2017-01-01,NaN,Single Family Residential,False,5
3,12177905,261.0,2.0,2288172,3.0,4.0,8.0,3.0,2376.0,2376.0,...,36225.0,1777.51,6.037300e+13,3,-0.103410,2017-01-01,Central,Single Family Residential,False,0
4,10887214,266.0,2.0,1970746,3.0,3.0,8.0,3.0,1312.0,1312.0,...,45726.0,1533.89,6.037124e+13,4,0.006940,2017-01-01,Central,Condominium,False,0
5,17143294,266.0,NaN,1447245,2.0,3.0,NaN,2.0,1492.0,1492.0,...,132424.0,3508.10,6.111005e+13,5,-0.020526,2017-01-01,NaN,Condominium,False,5
6,12095076,261.0,2.0,781532,3.0,4.0,9.0,3.0,2962.0,2962.0,...,496619.0,9516.26,6.037461e+13,6,-0.001011,2017-01-01,Central,Single Family Residential,False,0
7,12069064,261.0,NaN,870991,1.0,2.0,5.0,1.0,738.0,738.0,...,199662.0,2366.08,6.037302e+13,7,0.101723,2017-01-01,NaN,Single Family Residential,False,2
8,12790562,261.0,2.0,1246926,3.0,4.0,9.0,3.0,3039.0,3039.0,...,43056.0,3104.19,6.037500e+13,8,-0.040966,2017-01-02,Central,Single Family Residential,False,0
9,11542646,266.0,2.0,1585097,3.0,2.0,8.0,3.0,1290.0,1290.0,...,220058.0,4557.32,6.037275e+13,9,-0.036763,2017-01-02,Central,Condominium,False,0
10,11104527,261.0,2.0,1639362,3.0,4.0,8.0,3.0,2540.0,2540.0,...,158393.0,6103.36,6.037920e+13,10,0.005963,2017-01-02,Central,Single Family Residential,False,0
11,13984101,246.0,NaN,2963523,0.0,0.0,NaN,NaN,2482.0,NaN,...,309919.0,6151.38,6.059042e+13,11,-0.147997,2017-01-02,NaN,"Duplex (2 Units, Any Combination)",False,8
12,14705431,266.0,NaN,2116302,2.5,3.0,NaN,2.5,1337.0,1337.0,...,463974.0,6675.04,6.059099e+13,12,-0.028835,2017-01-02,NaN,Condominium,False,5
13,13944538,261.0,NaN,249412,2.5,3.0,NaN,2.5,1340.0,1340.0,...,223051.0,4078.08,6.059089e+13,13,0.045602,2017-01-02,NaN,Single Family Residential,False,5
14,14731691,266.0,NaN,2205733,2.0,2.0,NaN,2.0,970.0,970.0,...,15362.0,1771.34,6.059099e+13,14,-0.008935,2017-01-02,NaN,Condominium,False,6
15,17110996,261.0,NaN,43675,2.5,3.0,NaN,2.5,1371.0,1371.0,...,99028.0,2204.84,6.111005e+13,15,0.008669,2017-01-02,NaN,Single Family Residential,False,5
16,14375300,261.0,NaN,1548721,2.0,4.0,NaN,2.0,1677.0,1677.0,...,359729.0,5496.44,6.059052e+13,16,-0.021896,2017-01-02,NaN,Single Family Residential,False,5
17,12045625,266.0,2.0,1169121,3.0,3.0,8.0,3.0,1435.0,1435.0,...,89470.0,2831.48,6.037301e+13,17,-0.017167,2017-01-02,Central,Condominium,False,0
18,11830315,261.0,7.0,571930,1.0,2.0,4.0,1.0,1146.0,1146.0,...,145785.0,3739.02,6.037532e+13,18,-0.035085,2017-01-02,Floor/Wall,Single Family Residential,False,0
19,14730402,266.0,NaN,2712452,2.0,2.0,NaN,2.0,916.0,916.0,...,170974.0,2548.58,6.059032e+13,19,-0.012041,2017-01-02,NaN,Condominium,False,7
20,12325145,266.0,2.0,2542130,2.0,3.0,6.0,2.0,1092.0,1092.0,...,38065.0,2391.69,6.037554e+13,20,0.042463,2017-01-02,Central,Condominium,False,0
21,14387959,261.0,NaN,1623211,2.5,3.0,NaN,2.5,2074.0,2074.0,...,423944.0,6172.28,6.059042e+13,21,-0.006653,2017-01-02,NaN,Single Family Residential,False,5
22,14349322,261.0,NaN,1071020,2.5,3.0,NaN,2.5,2018.0,2018.0,...,313179.0,7141.56,6.059052e+13,22,0.044309,2017-01-02,NaN,Single Family Residential,False,5
23,11706737,261.0,NaN,1794752,1.0,2.0,5.0,1.0,1316.0,1316.0,...,134175.0,2220.23,6.037232e+13,23,-0.120976,2017-01-02,NaN,Single Family Residential,False,2
24,11671335,266.0,2.0,1690166,3.0,2.0,9.0,3.0,2126.0,2126.0,...,296606.0,6964.34,6.037263e+13,24,-0.000546,2017-01-02,Central,Condominium,False,0
25,12531488,261.0,7.0,1723297,1.0,3.0,4.0,1.0,1641.0,1641.0,...,334716.0,5212.75,6.037578e+13,25,0.042041,2017-01-02,Floor/Wall,Single Family Residential,False,0
26,14314879,261.0,NaN,1578439,4.5,6.0,NaN,4.5,3870.0,3870.0,...,1741737.0,21758.26,6.059063e+13,26,-0.001476,2017-01-02,NaN,Single Family Residential,False,5
27,11130689,261.0,2.0,1718341,2.0,3.0,6.0,2.0,1538.0,1538.0,...,179161.0,5438.41,6.037920e+13,27,0.020110,2017-01-02,Central,Single Family Residential,False,0
28,12036177,261.0,7.0,707014,2.0,3.0,4.0,2.0,1851.0,1851.0,...,52771.0,1232.08,6.037189e+13,28,0.206470,2017-01-02,Floor/Wall,Single Family Residential,False,0
29,14333888,261.0,NaN,1443971,3.0,2.0,NaN,3.0,3230.0,3230.0,...,638423.0,10696.14,6.059076e+13,29,-0.025392,2017-01-02,NaN,Single Family Residential,False,5
30,12713253,261.0,2.0,1291302,3.0,4.0,8.0,3.0,2447.0,2447.0,...,763000.0,12371.76,6.037670e+13,30,0.021853,2017-01-02,Central,Single Family Residential,False,0
31,14338242,261.0,NaN,400087,2.5,4.0,NaN,2.5,1987.0,1987.0,...,505476.0,8287.36,6.059076e+13,31,-0.019546,2017-01-02,NaN,Single Family Residential,False,5
32,11680471,261.0,2.0,2614137,3.0,3.0,NaN,3.0,3641.0,3641.0,...,610315.0,16542.97,6.037800e+13,32,0.004328,2017-01-02,Central,Single Family Residential,False,1
33,12155445,261.0,2.0,140576,4.0,5.0,7.0,4.0,3572.0,3572.0,...,794587.0,17643.27,6.037461e+13,33,-0.040807,2017-01-02,Central,Single Family Residential,False,0
34,14736723,266.0,NaN,818827,1.0,1.0,NaN,1.0,630.0,630.0,...,96147.0,2236.60,6.059052e+13,34,-0.018862,2017-01-02,NaN,Condominium,False,5
35,10891778,266.0,2.0,1580810,3.0,2.0,7.0,3.0,1480.0,1480.0,...,194806.0,4499.16,6.037124e+13,35,-0.002520,2017-01-02,Central,Condominium,False,1
36,14344863,261.0,NaN,2115294,2.5,4.0,NaN,2.5,1979.0,1979.0,...,659648.0,8138.06,6.059053e+13,36,-0.004855,2017-01-02,NaN,Single Family Residential,False,5
38,10852826,261.0,2.0,2357913,3.0,3.0,7.0,3.0,2637.0,2637.0,...,666582.0,10149.06,6.037140e+13,38,-0.024339,2017-01-02,Central,Single Family Residential,False,0
39,14703637,266.0,NaN,1684866,2.5,2.0,NaN,2.5,1024.0,1024.0,...,263000.0,4244.64,6.059042e+13,39,-0.023185,2017-01-02,NaN,Condominium,False,6
40,13891704,246.0,NaN,2649865,1.0,2.0,NaN,1.0,624.0,NaN,...,1750464.0,19638.80,6.059063e+13,40,0.004810,2017-01-02,NaN,"Duplex (2 Units, Any Combination)",False,5
41,10871883,261.0,2.0,971374,2.0,5.0,6.0,2.0,1818.0,1818.0,...,64460.0,2196.73,6.037122e+13,41,0.050556,2017-01-02,Central,Single Family Residential,False,0
42,10900115,261.0,2.0,1553255,3.0,4.0,6.0,3.0,3160.0,3160.0,...,407318.0,8451.50,6.037125e+13,42,0.010902,2017-01-02,Central,Single Family Residential,False,0
43,11737342,261.0,7.0,1212774,2.0,2.0,6.0,2.0,1529.0,1529.0,...,489466.0,7999.31,6.037218e+13,43,-0.134762,2017-01-02,Floor/Wall,Single Family Residential,False,0
44,12106936,261.0,7.0,930752,2.0,3.0,6.0,2.0,1447.0,1447.0,...,13021.0,1050.39,6.037462e+13,44,0.075156,2017-01-02,Floor/Wall,Single Family Residential,False,0
45,12105191,266.0,2.0,2839350,2.0,2.0,6.0,2.0,829.0,829.0,...,142947.0,3309.81,6.037462e+13,45,0.082734,2017-01-02,Central,Condominium,False,0
46,11740609,266.0,2.0,2564390,3.0,2.0,7.0,3.0,1110.0,1110.0,...,113000.0,6727.01,6.037217e+13,46,0.054203,2017-01-02,Central,Condominium,False,0
47,11405344,261.0,NaN,1793589,1.0,3.0,5.0,1.0,872.0,872.0,...,185930.0,3557.65,6.037601e+13,47,-0.014280,2017-01-02,NaN,Single Family Residential,False,2
48,13043344,261.0,2.0,59101,5.0,4.0,10.0,5.0,5492.0,5492.0,...,636200.0,20454.76,6.037400e+13,48,-0.259448,2017-01-02,Central,Single Family Residential,False,0
49,11036179,261.0,7.0,2433339,3.0,4.0,6.0,3.0,2317.0,2317.0,...,185681.0,3896.48,6.037119e+13,49,0.019701,2017-01-02,Floor/Wall,Single Family Residential,False,0
50,14455676,261.0,NaN,178299,5.0,4.0,NaN,5.0,4468.0,4468.0,...,409000.0,19822.16,6.059032e+13,50,0.042336,2017-01-02,NaN,Single Family Residential,False,5
51,13038483,269.0,2.0,159122,2.0,2.0,8.0,2.0,1660.0,1660.0,...,177200.0,4082.74,6.037401e+13,51,0.040177,2017-01-02,Central,Planned Unit Development,False,0
52,14463877,261.0,NaN,43489,2.5,3.0,NaN,2.5,1734.0,1734.0,...,486685.0,9013.36,6.059032e+13,52,0.045718,2017-01-02,NaN,Single Family Residential,False,5
53,10828742,261.0,2.0,568518,2.0,3.0,8.0,2.0,1815.0,1815.0,...,42637.0,1498.58,6.037127e+13,53,-0.069584,2017-01-02,Central,Single Family Residential,False,0
54,13022358,261.0,7.0,2634311,1.0,2.0,5.0,1.0,609.0,609.0,...,106149.0,2251.73,6.037405e+13,54,0.102968,2017-01-02,Floor/Wall,Single Family Residential,False,0
55,17153340,266.0,NaN,1327940,3.5,2.0,NaN,3.5,4018.0,4018.0,...,522030.0,12738.54,6.111004e+13,55,-0.095340,2017-01-02,NaN,Condominium,False,6
56,11751866,246.0,NaN,1272736,4.0,6.0,6.0,4.0,3435.0,NaN,...,906671.0,13541.94,6.037216e+13,56,-0.079803,2017-01-02,NaN,"Duplex (2 Units, Any Combination)",False,3
57,13007403,261.0,2.0,711009,3.0,3.0,8.0,3.0,2380.0,2380.0,...,298758.0,7676.28,6.037432e+13,57,-0.028719,2017-01-02,Central,Single Family Residential,False,0
58,14452416,261.0,NaN,908391,4.0,4.0,NaN,4.0,3415.0,3415.0,...,171517.0,9018.36,6.059032e+13,58,0.019302,2017-01-02,NaN,Single Family Residential,False,5
59,14728092,266.0,NaN,953025,1.0,1.0,NaN,1.0,702.0,702.0,...,203253.0,3060.92,6.059099e+13,59,-0.046084,2017-01-02,NaN,Condominium,False,6
60,14448439,261.0,NaN,847907,2.0,2.0,NaN,2.0,1367.0,1367.0,...,633041.0,8272.94,6.059042e+13,60,0.014984,2017-01-02,NaN,Single Family Residential,False,5

In [18]:
sql_url = wrangle.get_connection('mall_customers')

In [19]:
query = '''
        SELECT *
        FROM customers
        '''

In [20]:
mall_df = pd.read_sql(query, sql_url)
mall_df.head()

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
3            4  Female   23             16              77
4            5  Female   31             17              40

In [21]:
mall_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     200 non-null    int64
 1   gender          200 non-null    object
 2   age             200 non-null    int64
 3   annual_income   200 non-null    int64
 4   spending_score  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [22]:
mall_df.isna().sum()

customer_id       0
gender            0
age               0
annual_income     0
spending_score    0
dtype: int64

In [23]:
mall_df.describe()

       customer_id         age  annual_income  spending_score
count   200.000000  200.000000     200.000000      200.000000
mean    100.500000   38.850000      60.560000       50.200000
std      57.879185   13.969007      26.264721       25.823522
min       1.000000   18.000000      15.000000        1.000000
25%      50.750000   28.750000      41.500000       34.750000
50%     100.500000   36.000000      61.500000       50.000000
75%     150.250000   49.000000      78.000000       73.000000
max     200.000000   70.000000     137.000000       99.000000

In [24]:
def upper_outlier_detector(dataframe, column, k = 1.5):
    q1 , q3 = dataframe[column].quantile([0.25, 0.73])
    iqr = q3 - q1
    upper_bound = q3 + k * iqr
    return np.where(dataframe[column]> upper_bound, 1, 0)

In [25]:
my_list = ['age', 'annual_income']

In [28]:
for col in my_list:
    mall_df[f'{col}_upper_outliers'] = upper_outlier_detector(mall_df, col)
    
mall_df.head()

,customer_id,gender,age,annual_income,spending_score,age_upper_outliers,annual_income_upper_outliers
0,1,Male,19,15,39,0,0
1,2,Male,21,15,81,0,0
2,3,Female,20,16,6,0,0
3,4,Female,23,16,77,0,0
4,5,Female,31,17,40,0,0

In [29]:
train, val, test = prepare.train_val_test(mall_df)

In [31]:
train.shape

(140, 7)

In [32]:
mall_df.shape

(200, 7)